.flex {
  display: flex;

  &.direction-column {
    flex-direction: column;
  }

  &.right {
    justify-content: flex-end;
  }

  &.baseline {
    align-items: baseline;
  }

  &.align-center-vertical {
    align-items: center;
  }

  &.align-center {
    justify-content: center;
  }

  .center-item {
    align-self: center;
  }

  .start-item {
    align-self: flex-start;
  }

  .expanded {
    flex: 1;
  }
}
