.flex {
  display: flex;

  &.direction-column {
    flex-direction: column;
  }

  &.right {
    justify-content: flex-end;
  }

  &.baseline {
    align-items: baseline;
  }

  &.align-center {
    justify-content: center;
  }

  &.expanded {
    flex: 1;
  }
}
