@import "constants";

.font-large {
  font-size: $large;
}

.font-middle {
  font-size: $middle;
}

.font-small {
  font-size: $small;
}

.font-bold {
  font-weight: bold;
}

.font-red {
  color: red;
}

.text-strike-through {
  text-decoration: line-through;
}
