@import "constants";

.list-parent {
  background-color: navajowhite;
  list-style-type: none;
  margin-left: 0px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.list-item {
  &.active {
    background-color: $blue;
  }

  &.not-active {
    background-color: #9999;
  }
}

.scroll-vertical {
  overflow-y: scroll;
}
