@import "constants";

.margin-s {
  margin: $small;
}

.margin-m {
  margin: $middle;
}

.margin-l {
  marign: $large;
}

.margin-tb-s {
  margin-top: $small;
  margin-bottom: $small;
}

.margin-tb-m {
  margin-top: $middle;
  margin-bottom: $middle;
}

.margin-tb-l {
  margin-top: $large;
  margin-bottom: $large;
}

.margin-rl-s {
  margin-right: $small;
  margin-left: $small;
}

.margin-rl-m {
  margin-right: $middle;
  margin-left: $middle;
}

.margin-rl-l {
  margin-right: $large;
  margin-left: $large;
}

.margin-l-s {
  margin-left: $small;
}

.margin-l-m {
  margin-left: $middle;
}

.margin-l-l {
  margin-left: $large;
}

.margin-r-s {
  margin-right: $small;
}

.margin-r-m {
  margin-right: $middle;
}

.margin-r-l {
  margin-right: $large;
}

.margin-b-s {
  margin-bottom: $small;
}

.margin-b-m {
  margin-bottom: $middle;
}

.margin-b-l {
  margin-bottom: $large;
}
